*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.estragao-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100vh;
}

.estragao-phone{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.estragao-phone img{
    height: 45rem;
}

.profile-photo{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.profile-photo img{
    height: 6rem;
}

.app-download{
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.app-download:nth-child(1){
    background-image: url('./img/applestore-button.png');
}

.app-download:nth-child(2){
    background-image: url('./img/playstore-button.png');
}

.estragao-continue{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}

.group{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: white;
    width: 50%;
    padding: 1.3rem 0;
    border: 1px solid lightgreen;
}

.group:nth-child(1){
    min-height: 19rem;
}

.estragao-logo{
    height: 3rem;
}

.estragao-login{
    background-color: #0095f6;
    color: #ffffff;
    padding: 8px;
    border-radius: 4px;
}

.estragao-logout{
    color: #0095f6;
    margin-top: 1rem;
}

.not-account{
    color: rgb(160, 160, 160);
}

.link-blue{
    color: #0095f6;
}

.get-the-app{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 1.3rem 0;
}

.download{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

/* media queries */

@media (max-width: 1024px){
    .estragao-wrapper{
        width: 90%;
    }
}

@media (max-width: 680px){
    body{
        background-color: white;
    }

    .estragao-wrapper{
        width: 90%;
    }

    .estragao-phone{
        display: none;
    }

    .estragao-continue{
        width: 100%;
    }

    .group{
     border: 1px solid transparent;   
    }
}